.arrow {
    border: solid #e7dfdd;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    /* background-color:#4717f6; */
  }

.up {
    transform: rotate(-135deg);
   
}
.comment{
    background-color :#a239ca;
    border:solid #a239ca;
}
 .down {
    transform: rotate(45deg);
 }

 .commentVote{
     background-color:#a239ca;
 }