.article {
  color: #e7dfdd;
  width: 80%;
  margin: 16px auto;
  border: 1px solid;
  box-shadow: 0 2px 3px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: #e7dfdd;
}
article {
  display: flex;
  flex-flow: column nowrap;
}
.box {
  padding: 5px;
}
