label {
  color: #e7dfdd;
}
.addComment > * {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 4vh;
  margin: auto;
  align-items: center;
}
.adder {
  margin-top: 1%;
  background-color: white;
  outline-style: none;
  border: 0;
}
.adder:hover {
  background-color: #a239ca;
}
.commenter{
    outline-style:none;
    border:0
}
