.comments {
  color: #e7dfdd;
  width: 80%;
  margin: 16px auto;
  border: 1px solid;
  box-shadow: 0 2px 3px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: #e7dfdd;
}
.box {
  padding: 5px;
}
.delete {
  width: 20%;
  outline-style: none;
  border: 0;
  height:25px
}
.delete:hover {
  background-color: #a239ca;
}
