nav {
  grid-area: nav;
  background-color: #a239ca;
  text-align: left;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: 0b16;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #0e0b16;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #a239ca;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a239ca;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #0e0b16;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e7dfdd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.home {
  color: #0e0b16;
}
