.creator {
  color: #e7dfdd;
  width: 80%;
  margin: 16px auto;
  border: 1px solid;
  box-shadow: 0 2px 3px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: #e7dfdd;
}
.createArticle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.createArticle > * {
  justify-content: space-evenly;
}
.createArticle > * {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 4vh;
  margin: 5px;
}
.titleBox {
  width: 45%;
}
.topicBox {
  width: 46%;
  background-color: white;
}
.contentBox {
  width: 45%;
}
.buttonInput {
  width: 17%;
  background-color: white;
  outline-style: none;
  border: 0;
}

label {
  width: 5%;
}
.contentHeight {
  height: 150px;
}
.buttonInput:hover {
  background-color: #a239ca;
}
