 /* form{
    color:#e7dfdd;
    display: flex; 
   flex-flow: row nowrap; 
   justify-content: space-evenly; 
    align-items: center; 
  }    */
 CreateArticle {
    width: 40%;
    height:50%;
    margin: 16px auto;
    border: 1px solid;
    box-shadow: 0 2px 3px;
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration-color: #e7dfdd;
    
  }
  /* label{
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
  }
  .text input{
    margin-left: 4.5em;
  } */
  