.main {
  grid-area: main;
  background-color: #0e0b16;
  /* background-image:linear-gradient(#0e0b16 10%,#a239ca 40vh,green 50vh, blue 80%); */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9aPmGsj0tLjGCAu2qt2FsO6AzgBxtFLMIVRp-HrctZ5OJg2BEiw");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  width: 80%;
  margin: 16px auto;
  border: 1px solid;
  box-shadow: 0 2px 3px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: #e7dfdd;
}
.articleTitle {
  color: #e7dfdd;
}
.author {
  color: #e7dfdd;
}
