.main {
  grid-area: main;
  /* background-color: #0e0b16; */
  /* background-image:linear-gradient(#0e0b16 10%,#a239ca 40vh,green 50vh, blue 80%); */
  background-image: url("https://ih0.redbubble.net/image.454750342.2475/flat,1000x1000,075,f.u1.jpg");
  /* background-image: url(https://www.google.com/imgres?imgurl=http%3A%2F%2Fa1star.com%2Fimages%2Fstar--background-seamless-repeating6.jpg&imgrefurl=http%3A%2F%2Fa1star.com%2Fstar-space-background-7.php&docid=3zwJak6z-UVgoM&tbnid=OTc-zuyibFWGDM%3A&vet=10ahUKEwj3hseXq97eAhVCzqQKHY8GC_EQMwiYAShGMEY..i&w=548&h=547&client=safari&bih=839&biw=1440&q=pretty%20pink%2Fpurple%20space%20backgrounds&ved=0ahUKEwj3hseXq97eAhVCzqQKHY8GC_EQMwiYAShGMEY&iact=mrc&uact=8); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  width: 80%;
  margin: 16px auto;
  border: 1px solid;
  box-shadow: 0 2px 3px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: #e7dfdd;
}
.articleTitle {
  color: #e7dfdd;
}
.author {
  color: #e7dfdd;
}
