.main{
    grid-area: main;
   background-color:#0e0b16;
    /* background-image:linear-gradient(orange 20%,yellow 40vh,green 50vh, blue 80%); */
    /* background-image:url('https://cdn.pixabay.com/photo/2016/02/01/00/56/news-1172463_960_720.jpg') */
}
p{
    width: 80%;
    margin: 16px auto;
    border: 1px solid;
    box-shadow: 0 2px 3px;
    padding: 10px;
    text-align: center;
    background-color:#a239ca;
    /* background-blend-mode: lighten; */
    text-decoration-color: black;
    /* background-color:goldenrod */
}
articleTitle{
    color:#0e0b16
}
