img {
  max-width: 80%;
  max-height: 80%;
}

.user {
  grid-area:span;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: #e7dfdd;
  background-color: #0e0b16;
}
.logoutButton{
  background-color: #e7dfdd;
  width:50px;
  height:25px;
  margin-right:2%
}
.logoutButton:hover{
  background-color:#a239ca;

}