img {
  max-width: 80%;
  max-height: 80%;
}

.user {
  grid-area:span;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: #e7dfdd;
  background-color: #0e0b16;
}
