.arrow {
  border: solid #e7e7e7;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow.active{
  border: solid #a239ca;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
}
.articleVote {
  background-color: rgba(0, 0, 0, 0.007);
  border: rgba(0, 0, 0, 0.007);
}



.down {
  transform: rotate(45deg);
}

.articleData {
  color: #e7dfdd;
  background-color: rgba(0, 0, 0, 0.007);
}
