.sidebar{
    grid-area: sidebar;
    background-color: deeppink;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEj2RG5ZAlLzc2mSO4G-nJIku5hhoX_boqQ-cxBUCbZ9gg4R3B');
    background-position: top;
    background-repeat:no-repeat;
}

/* img{
   
} */