.auth {
  background-color: #0e0b16;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 700px) {
  input {
    width: 70px;
  }
}
.loginButton {
  background-color: #e7dfdd;
  width: 50px;
  height:25px;
}
.username {
  height: 20px;
}
.loginButton:hover{
  background-color:#a239ca;
}
